@media print {
  header,
  footer,
  .print\:hidden {
    display: none !important;
  }

  main {
    padding: 0 !important;
  }

  body {
    background: white !important;
    color: black !important;
  }
}
